header {
  background-color: #0A4465;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
#nav_top{
    height:75px;
    width:100%;
    background:blue;
    position:fixed;
    top:0px;
    left:0px;
}

#logo{
    width:50px;
    height:75px;
    float:left;
    background:yellow;
}
#wrapper{
    width:800px;
    border:1px solid red;
    height:50px;
    left:200px;
    position:relative;
}
#menu{
    float:left;
    background:pink;
}

#search{
    float:right;
    background:#95B0CE;
}

body, html {
  height: 100%;
  margin: 0;

}

/* Style tab links */
.tablink {
  background-color: #95B0CE;
  color: #0A4465;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 20%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: #B3C5D9;}
#Polls {background-color: #B3C5D9;}
#HangMan {background-color: #B3C5D9;}
#2Truths {background-color: #B3C5D9;}
#2Truths {background-color: #B3C5D9;}
#SomethingFun  {background-color: #B3C5D9;}

